services:
    php:
        build: docker/php
        container_name: bwltd_php
        expose:
            - 9000
        restart: always
        volumes:
            - ./docker/php/conf/php.ini:/usr/local/etc/php/conf.d/custom.ini
            - ./docker/php/conf/error_reporting.ini:/usr/local/etc/php/conf.d/error_reporting.ini
            - ./:${PROJECT_ROOT}
            - ./database:${PROJECT_ROOT}/database
        networks:
            - bwltd-network

    nginx:
        image: nginx:latest
        container_name: bwltd_nginx
        ports:
            - ${VIRTUAL_PORT}:80
        restart: always
        volumes:
            - ./docker/nginx/conf/default.conf:/etc/nginx/conf.d/default.conf
            - ./:${PROJECT_ROOT}
        depends_on:
            - php
        networks:
            - bwltd-network

networks:
    bwltd-network:
        driver: bridge
