.list .list-row {
    padding: 8px;
}

.list .list-col {
    padding: 10px 5px 5px;
    min-height: 6rem;
}

.list .list-col .list-stars {
    display: inline-block;
}

.list .list-col button {
    display: inline-block;
}
